<ion-view title="عن التطبيق" class="has-header" style="font-family: 'El Messiri', sans-serif;">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="myGoBack()">
    <img src="img/bk.png" style="height:30px" >
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/s-bg.png) no-repeat ;background-size:cover;" dir="rtl">
    <div class="spacer" style="height: 120px;"></div>
    <p5>
      <img style="width:200px;height:150px;margin:50px" src="img/LOOOGO.png" /> {{about}}
    </p5>
    <div class="spacer" style="height: 40px"></div>
  </ion-content>
</ion-view>