<ion-view id="page1" dir="rtl">
  <div style="margin-bottom: 48px;background-color: rgba(255, 0, 102, 0.4);" class="bar bar-footer " padding="true">
    <div class="col" ng-repeat="banner in banners" style="width:40px">
      <img ng-src="http://s-baet.com/cp/upload/{{banner.content}}" style="width:30px;height:40px;margin-top: -8px">
    </div>
  </div>
  <ion-tabs class="tabs-stable tabs-icon-top tabs-color-light" id="tabsController-tabs">

    <ion-tab title="الرئيسيه" icon="ion-home" href="#/tabs/main" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>

    <ion-tab title="المتاجر" icon="ion-bag" href="#/tabs/stores" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>

    <ion-tab title="العروض" icon="ion-arrow-down-a" href="#/tabs/offers" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>

    <ion-tab title="اتصل بنا" icon="ion-email" href="#/tabs/contactUs" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>