<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-caller" version="0.2.3">
    <name>Caller</name>
    <description>Cordova Caller Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>
    <js-module src="www/caller.js" name="caller">
        <clobbers target="cordova.plugins.callerPlugin" />
    </js-module>
</plugin>