<ion-view title="اتصل بنا" id="page16" dir="auto" style="font-family: 'El Messiri', sans-serif;">
 <ion-content padding="true"  class="has-header"  style="background-color: #eee7ee" >
   <div class="spacer" style="height: 100px"></div>
    <div class="list">
  <label class="item item-input" style="background-color: white;margin: 10px;">
    <span class="input-label2" style="margin-right: 10px;">الأسم :</span>
    <input type="text">
  </label>
  <label class="item item-input" style="background-color: white;margin: 10px;">
    <span class="input-label2" style="margin-right: 10px;">البريد الأليكتروني :</span>
    <input type="text">
  </label>
  <label class="item item-input" style="background-color: white;margin: 10px;">
    <span class="input-label2" style="margin-right: 10px;">الجوال:</span>
    <input type="number">
  </label>
  <label class="item item-input" style="background-color: white;margin: 10px;">
    <span class="input-label2" style="margin-right: 10px;">موضوع الرساله :</span>
    <input type="text">
  </label>
  <label class="item item-input" style="background-color: white;margin: 10px;">
    <div class="input-label2" style=" padding-bottom: 100px;margin-right: 10px;" >نص الرساله :</div>
    <input type="text">
  </label>

    <a  id="login0-button5" class="button button-stable  button-block" ng-click="sendmsg()" >
      <img style="height:20px;width:20px; " src="img/23.png"/>
      ارسال  
      </a>
</div>
  </ion-content>
</ion-view>