<ion-view title="الرسائل" id="page14" style="font-family: 'El Messiri', sans-serif;">
  <ion-content padding="true" class="has-header" style="background-color: #eee7ee" >
    <ion-list id="page17-list12" dir="auto" >
      <ion-item class="item-icon-right" id="page17-list-item"  ng-click="navigate(mymessage.id)" ng-repeat="mymessage in mymessages" >
        <img  src="img/mail.png" style="height:20px;margin-left:20px"/>
        <h2 style="color:#ebb0d3">رساله جديده من : {{mymessage.from_user.name}}</h2>
        <p>{{mymessage.title}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>