<ion-view title="الأشعارات" id="page14" style="font-family: 'El Messiri', sans-serif;">
  
  <ion-content padding="true" class="has-header" style="background-color: #eee7ee" scroll="false">
    <div class="list card" id="page14-card21">
      <ion-item class="item-icon-left item-icon-right" id="page14-list-item13">
        <i class="icon No Icon"></i>اشعارات جديدة بخصوص العضوية
        <i class="icon ion-android-notifications"></i>
      </ion-item>
      <div id="page14-markdown6" style="text-align:right;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">///////////////////..........................................................................................................................................................................اشعارات جديد</p>
      </div>
    </div>
    <div class="list card" id="page14-card22">
      <ion-item class="item-icon-left item-icon-right" id="page14-list-item15">
        <i class="icon No Icon"></i>اشعارات جديدة بخصوص العضوية
        <i class="icon ion-android-notifications"></i>
      </ion-item>
      <div id="page14-markdown7" style="text-align:right;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">///////////////////..........................................................................................................................................................................اشعارات جديد</p>
      </div>
    </div>
    <div class="list card" id="page14-card23">
      <ion-item class="item-icon-left item-icon-right" id="page14-list-item16">
        <i class="icon No Icon"></i>اشعارات جديدة بخصوص العضوية
        <i class="icon ion-android-notifications"></i>
      </ion-item>
      <div id="page14-markdown8" style="text-align:right;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">///////////////////..........................................................................................................................................................................اشعارات جديد</p>
      </div>
    </div>
    <div class="list card" id="page14-card24">
      <ion-item class="item-icon-left item-icon-right" id="page14-list-item17">
        <i class="icon No Icon"></i>اشعارات جديدة بخصوص العضوية
        <i class="icon ion-android-notifications"></i>
      </ion-item>
      <div id="page14-markdown9" style="text-align:right;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">///////////////////..........................................................................................................................................................................اشعارات جديد</p>
      </div>
    </div>
  </ion-content>
</ion-view>