<ion-view title="التسجيل" padding="true" hide-nav-bar="true" style="font-family: 'El Messiri', sans-serif;">
  <ion-content padding="true" style="background: url(img/a.png) no-repeat ;background-size:cover;" dir="rtl">

    <img style="width:200px;height:150px;margin-right:70px;" src="img/LOOOGO.png" />



    <div class="row" style="margin-top:60px;">
      <div class="col">
        <label style="color: black; font-size: large; margin: 90px">
          <input ng-model="customer.type" ng-change="client.type = false" type="checkbox"  ng-true-value="'premium'" >التاجر
        </label>
      </div>
      <div class="col">
        <label style="color: black; font-size: large">
          <input ng-model="client.type" ng-change="customer.type = false"  type="checkbox" ng-true-value="'user'"  >العميل
        </label>
      </div>
    </div>


    <form ng-if="customer.type" name="customerform" novalidate>
      <div class="list">
        <div ng-show="customerform.firstname.$error.required" style="color:red;padding:10px">من فضلك ادخل الاسم</div>
        <label class="item item-input " id="item">
          <span class="input-label">الأسم </span>
          <input style="font-size: 20px" type="text" placeholder="الأسم" ng-model="user.name" name="firstname" required >
        </label>

        <div ng-show="customerform.mobile.$error.required" style="color:red;">من فضلك ادخل رقم الجوال</div>
        <label class="item item-input " id="item">
            <div ng-show="customerform.mobile.$error.required" style="color:red;padding:10px">*</div>        
          <span class="input-label">رقم الجوال</span>
          <input style="font-size: 20px" type="number" placeholder="رقم الجوال" ng-model="user.mobile"  name="mobile"  ng-minlength="10"  required >
        </label>

        <div ng-show="customerform.email.$error.required" style="color:red;">من فضلك ادخل الأيميل</div>
        <label class="item item-input " id="item">
            <div ng-show="customerform.email.$error.required" style="color:red;padding:10px">*</div>                  
          <span class="input-label">الأيميل</span>
          <input style="font-size: 20px" type="email" placeholder="الأيميل" ng-model="user.email" name="email" required >
        </label>
        <div ng-show="customerform.password.$error.required" style="color:red;">من فضلك ادخل كلمة المرور</div>
        <label class="item item-input " id="item">
            <div ng-show="customerform.password.$error.required" style="color:red;padding:10px">*</div>                  
          <span class="input-label">كلمة المرور</span>
          <input style="font-size: 20px" type="password" placeholder="كلمة المرور" ng-model="user.password"  name="password"  ng-minlength="6"    required >
        </label>
        <div ng-show="customerform.confirmpassword.$error.required" style="color:red;"> من فضلك ادخل تأكيد كلمة المرور</div>
        <label class="item item-input " id="item">
            <div ng-show="customerform.confirmpassword.$error.required" style="color:red;padding:10px">*</div>                  
          <span class="input-label">اعادة كلمة المرور</span>
          <input style="font-size: 20px;font-weight: 500" type="password" placeholder="اعادة كلمة المرور"  ng-model="user.password_confirm" name="confirmpassword" ng-minlength="6" required >
        </label>
        <div ng-hide="done" style="color:red;">لابد ان توافق علي الشروط و الأحكام</div>
        <ion-checkbox style="text-align: left;" id="item" ng-model="filter.pink" name="rules" ng-click="getrules()" required>الشروط و اللأحكام</ion-checkbox>
      </div>


      <button id="page10-button9" ng-click="signup()" class="button button-stable  button-block">
        تسجيل
        <img style="height:20px;width:20px;" src="img/18.png"/>
      </button>
    </form>


    <form ng-if="client.type" name="customerform" novalidate>
      <!--<div class="spacer" style="height: 60px;"></div>-->

      <div class="list">
        <div ng-show="customerform.firstname.$error.required" style="color:red;">من فضلك ادخل الاسم</div>
        <label class="item item-input " id="item">
            <div ng-show="customerform.firstname.$error.required" style="color:red;padding:10px">*</div>
          <span class="input-label">الأسم </span>
          <input style="font-size: 20px" type="text" placeholder="الأسم" ng-model="user.name" name="firstname" required >
        </label>


        <div ng-show="customerform.mobile.$error.required" style="color:red;">من فضلك ادخل رقم الجوال</div>
        <label class="item item-input " id="item">
            <div ng-show="customerform.mobile.$error.required" style="color:red;padding:10px">*</div>          
          <span class="input-label">رقم الجوال</span>
          <input style="font-size: 20px" type="number" placeholder="رقم الجوال" ng-model="user.mobile"  name="mobile" ng-minlength="10" ng-maxlength="10" required >
        </label>

        <div ng-show="customerform.email.$error.required" style="color:red;"> من فضلك ادخل الأيميل</div>
        <label class="item item-input " id="item">
            <div ng-show="customerform.email.$error.required" style="color:red;padding:10px">*</div>
          
          <span class="input-label">الأيميل</span>
          <input style="font-size: 20px" type="email" placeholder="الأيميل" ng-model="user.email" name="email" required >
        </label>
        <div ng-show="customerform.password.$error.required" style="color:red;"> من فضلك ادخل كلمة المرور</div>
        <label class="item item-input " id="item">
          <div ng-show="customerform.password.$error.required" style="color:red;padding:10px">*</div>
          <span class="input-label">كلمة المرور</span>
          <input style="font-size: 20px" type="password" placeholder="كلمة المرور" ng-model="user.password"  name="password"  ng-minlength="6"    required >
        </label>
        <div ng-show="customerform.confirmpassword.$error.required" style="color:red;"> من فضلك ادخل تأكيد كلمة المرور</div>
        <label class="item item-input " id="item">
            <div ng-show="customerform.confirmpassword.$error.required" style="color:red;padding:10px">*</div>          
          <span class="input-label">اعادة كلمة المرور</span>
          <input style="font-size: 20px;font-weight: 500" type="password" placeholder="اعادة كلمة المرور"  ng-model="user.password_confirm" name="confirmpassword" ng-minlength="6" required >
        </label>
        <div>
          <div ng-hide="done" style="color:red;">* لابد ان توافق علي الشروط و الأحكام</div>
          <ion-checkbox style="text-align: left;" id="item" ng-model="filter" name="rules" ng-click="getrules()" required>الشروط و اللأحكام</ion-checkbox>
        </div>
      </div>

      <button id="page10-button9" ng-click="signup()" class="button button-stable  button-block">
        تسجيل
        <img style="height:20px;width:20px;" src="img/18.png"/>
      </button>
    </form>


  </ion-content>
</ion-view>