<ion-view title="the name of the customer" id="page22" scroll="false">
  <ion-content padding="true" class="has-header" style="background-color: #eee7ee;">
     <form id="page19-form11" class="list" >
        <img src="img/eclip.png" style="margin-top:100px;width:60%;margin-right: 50px;">
      <label class="item item-input" id="page20-input">
        <span class="input-label">الأسم:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="page20-input">
        <span class="input-label"> رقم الجوال :</span>
        <input type="tel" placeholder="">
      </label>
      <label class="item item-input" id="page20-input">
        <span class="input-label"> موقعي:</span>
        <input type="text" placeholder="">
      </label>
    </form>

     <form id="page19-form11" class="list" >
        <img src="img/eclip.png" style="margin-top:100px;width:60%;margin-right: 50px;">
      <label class="item item-input" id="page20-input">
        <span class="input-label">الأسم:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="page20-input">
        <span class="input-label"> رقم الجوال :</span>
        <input type="tel" placeholder="">
      </label>
      <label class="item item-input" id="page20-input">
        <span class="input-label"> موقعي :</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="page20-input">
        <span class="input-label">  اسم المتجر :</span>
        <input type="text" placeholder="">
      </label>
        <label class="item item-input" id="page20-input">
        <span class="input-label"> وصف المتجر :</span>
        <input type="text" placeholder="">
      </label>
        <label class="item item-input" id="page20-input">
        <span class="input-label"> البريد الأليكتروني :</span>
        <input type="text" placeholder="">
      </label>
        <label class="item item-input" id="page20-input">
        <span class="input-label"> طرق التوصيل :</span>
        <input type="text" placeholder="">
      </label>
        <label class="item item-input" id="page20-input">
        <span class="input-label">  ساعات العمل :</span>
        <input type="text" placeholder="">
      </label>
        <label class="item item-input" style="background-color:rgba(255, 255, 255,0.5);padding-bottom: 100px; margin-bottom: 10px;">
        <span class="input-label"> المراسله:</span>
        <input type="text" placeholder="">
      </label>
       <button id="page10-button9"  ui-sref="tabsController.page17" class="button button-stable  item-right" type="submit">
      ارسال
        <img style="height:20px;width:20px;" src="img/18.png"/>
      </button>
    </form>

  </ion-content>
</ion-view>