<ion-view title={{myprofile.name}} id="page22" >
  <ion-content padding="true" class="has-header" style="background-color: #eee7ee;">
     
     <div id="page19-form11" class="list"   >
        <img ng-src="http://217.182.113.163/~setalbeet/upload/{{myprofile.logo}}"  style="margin:50px;margin-right:100px;width:40%;">
      <label class="item item-input" id="page20-input" >
        <span class="input-label">الأسم:</span>
        <input type="text" placeholder="" ng-model="myprofile.name" id="page202-input" disabled>
      </label>
      <label class="item item-input" id="page20-input">
        <span class="input-label"> البلد :</span>
        <input type="text" placeholder="" ng-model="mycountry" id="page202-input" disabled >
      </label>
       <label class="item item-input" id="page20-input">
        <span class="input-label"> المنطقه :</span>
        <input type="text" placeholder="غير متاح" ng-model="myarea" id="page202-input"  disabled >
      </label>
       <label class="item item-input" id="page20-input">
        <span class="input-label"> المدينه :</span>
        <input type="text" placeholder="غير متاح" ng-model="mycity" id="page202-input"  disabled >
      </label>
       <label class="item item-input" id="page20-input">
        <span class="input-label"> الواتس اب :</span>
        <input type="text" placeholder="غير متاح" ng-model="myprofile.whatsapp" id="page202-input"  disabled >
      </label>
      <label class="item item-input" id="page20-input">
        <span class="input-label"> الفيس بوك :</span>
        <input type="text" placeholder="" ng-model="myprofile.facebook" id="page202-input" disabled >
      </label>
     
      <label class="item item-input" id="page20-input">
        <span class="input-label"> جوجل بلس :</span>
        <input type="text" placeholder="غير متاح" ng-model="myprofile.google_plus" id="page202-input" disabled >
      </label>
      <label class="item item-input" id="page20-input">
        <span class="input-label"> انستجرام :</span>
        <input type="text" placeholder="غير متاح" ng-model="myprofile.instagram" id="page202-input" disabled >
      </label>

        <label class="item item-input" id="page20-input" ng-show="gettype()"  >
        <span class="input-label"> وصف المتجر :</span>
        <input type="text" placeholder="" id="page202-input" disabled >
      </label>
        <label class="item item-input" id="page20-input">
        <span class="input-label"> البريد الأليكتروني :</span>
        <input type="text" placeholder="" ng-model="myprofile.email" id="page202-input" id="page202-input" disabled >
      </label>
        <label class="item item-input" id="page20-input" ng-show="gettype()"  >
        <span class="input-label"> طرق التوصيل :</span>
        <input type="text" placeholder="" ng-model="myprofile.delivery" id="page202-input" disabled >
      </label>
        <label class="item item-input" id="page20-input" ng-show="gettype()" >
        <span class="input-label">  ساعات العمل من:</span>
        <input type="text" placeholder="غير متاح" id="page202-input" ng-model="myprofile.Worktime_from" disabled >
      </label>
      <label class="item item-input" id="page20-input" ng-show="gettype()" >
        <span class="input-label">  ساعات العمل الي:</span>
        <input type="text" placeholder="غير متاح" id="page202-input" ng-model="myprofile.Worktime_to" disabled >
      </label>
      </label>
        <label class="item item-input" id="page20-input" ng-show="gettype()" >
        <span class="input-label"> تاريخ انتهاء الأشتراك :</span>
        <input type="text" placeholder="" id="page202-input" ng-model="expire.expire_from" disabled >
      </label>
      <label class="item item-input" id="page20-input" ng-show="gettype()" >
        <span class="input-label"> تاريخ انتهاء الأشتراك :</span>
        <input type="text" placeholder="" id="page202-input" ng-model="expire.expire_to" disabled >
      </label>
        
     </div>

  </ion-content>
</ion-view>