<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="stylesheet" href="fonts/lora/css/fonts.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>


    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

    
    

    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    

    
    <script src="lib/bluebird.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic.cloud.min.js"></script>

  
    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/app-service.js"></script>
    <script src="templates/contactUs/contactUs.js"></script>
    <script src="templates/editprofile/editprofile.js"></script>
    <script src="templates/fees/fees.js"></script>
    <script src="templates/login/login.js"></script>
    <script src="templates/main/main.js"></script>
    <script src="templates/notifications/notifications.js"></script>
    <script src="templates/productShow/productShow.js"></script>
    <script src="templates/productShow/product/product.js"></script>
    <script src="templates/profile/profile.js"></script>
    <script src="templates/signup/signup.js"></script>
    <script src="templates/stores/stores.js"></script>
    <script src="templates/getlocation/getlocation.js"></script>

    <link href="https://fonts.googleapis.com/css?family=El%20Messiri" rel="stylesheet">
  

  </head>
  <body ng-app="app" animation="slide-left-right-ios10" >
  <div>
  <ion-side-menus enable-menu-with-back-views="false" data-componentid="side-menu21">
    <ion-side-menu-content>
      <ion-nav-bar class="bar-positive">

        <ion-nav-buttons side="right">
          <button class="button button-icon  " menu-toggle="right">
            <img style="width:30px;height:15px;" src="img/Forma 4.png">
          </button>
        </ion-nav-buttons>
        <ion-nav-back-button></ion-nav-back-button>
      </ion-nav-bar>
      <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right" id="side-menu21" style="background-color:#eee7ef;">
      <ion-header-bar class="bar-stable">
        <h1 class="title">القائمة</h1>
      
      </ion-header-bar>
      <ion-content padding="true"  class="side-menu-right has-header " ng-controller="signupCtrl">
        <ion-list id="menu-list1" data-componentid="list1">
          <ion-item class="item-icon-left stable" id="menu-list-item" menu-close="" ng-click="navigateMenu(1)" >
            <img style="float:right;margin:auto;height:110%;" src="img/1.png">
            الرئيسية</ion-item>
           <ion-item class="item-icon-left stable" id="menu-list-item" menu-close="" ng-click="navigateMenu(2)" ng-if="customer">
             <img style="float:right;margin:auto;height:110%;" src="img/4.png">
            منتجاتي</ion-item>
             <ion-item class="item-icon-left stable" id="menu-list-item" menu-close="" ng-click="navigateMenu(3)" ng-if="customer">
             <img style="float:right;margin:auto;height:110%;" src="img/5.png">
            اضافه منتج</ion-item>
          <ion-item class="item-icon-left stable" id="menu-list-item" menu-close="" ng-click="navigateMenu(4)">
             <img style="float:right;margin:auto;height:110%;" src="img/50.png">
            العنوان</ion-item>
          <ion-item class="item-icon-left stable" id="menu-list-item" menu-close="" ng-click="navigateMenu(5)">
            <img style="float:right;margin:auto;height:110%;" src="img/8.png">
            الأشعارات</ion-item>
          <ion-item class="item-icon-left stable" id="menu-list-item" menu-close="" ng-click="navigateMenu(6)">
             <img style="float:right;margin:auto;height:110%;" src="img/07.png">
            عن التطبيق</ion-item>
          <ion-item class="item-icon-left stable" id="menu-list-item" menu-close="" ng-click="navigateMenu(7)" ng-if="customer" >
             <img style="float:right;margin:auto;height:110%;" src="img/9.png">
            اشتراك المتجر</ion-item>
          <ion-item id="menu-list-item" menu-close="" ng-click="navigateMenu(8)">
             <img style="float:right;margin:auto;height:110%;" src="img/10.png">
            تسجيل الخروج</ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</div>
  </body>
</html>
