<ion-view title="اسم المنتج" id="page23">
  <ion-content padding="true" class="has-header" dir="auto" style="background-color: #eee7ee" scroll="false">
<div class="bar bar-header " style="background-color: #efd7e7;" >
  <h1 class="title" style="text-align: left;color:#da6bad">قسم المأكولات</h1>
  <button class="button icon ion-star" style="position: left;"></button>
</div>
<div class="spacer" style="height:35px"></div>
<img style="width:calc(100% + 20px);height:200px;margin-left:-10px;margin-right: -10px;" src="img/70.png"/>
<p5 style="color:black;margin:10px;font-size: large;border-bottom: 2px solid #f7abd8;">وصف المنتج</p5>
<div style="color:black;height:90px;background-color: rgba(255, 0, 102, 0.1)"> اهلا وسهلا  اهلا وسهلا  اهلا وسهلا اهلا وسهلا اهلا وسهلا اهلا وسهلا</div>
<div class="row">
  <div class="col" style="margin-left:20px;border-bottom: 3px solid #f7abd8;">
    <img src="img/LOOOGO.png" style="width:100%;height:70px;"/>
  </div>
   <div class="col" style="margin-left:20px;border-bottom: 3px solid #f7abd8;">
    <img src="img/LOOOGO.png" style="width:100%;height:70px;"/>
  </div>
   <div class="col" style="border-bottom: 3px solid #f7abd8;">
    <img src="img/LOOOGO.png" style="width:100%;height:70px;"/>
  </div>
</div>
<div class="row" style="margin-top: 15px;">
  <div class="col" style="width:100px">
    <button style="color:white;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="button button-stable  button-block" >
        السعر : 2500 ريال
      </button>
  </div>
  <div class="col" style="width:100px">
    <button style="background-color: rgba(26, 255, 102,0.8);color:white;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"  class="button   button-block" >
       <img style="height:20px;width:20px;" src="img/78.png"/>
        شراء المنتج 
      </button>
  </div>
</div>
  </ion-content>
</ion-view>