<ion-view view-title={{products.title}} style="font-family: 'El Messiri', sans-serif;">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="myGoBack()">
    <img src="img/bk.png" style="height:30px" >
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header" dir="auto" style="background-color: #eee7ee">
    <div class="bar bar-header " style="background-color: #efd7e7;">
      <h1 class="title" style="text-align: right;color:#da6bad">قسم : {{products.department_id.title}}</h1>
    </div>
    <div class="spacer" style="height:35px"></div>
    <img ng-if="products.photo" style="width:calc(100% + 20px);height:50%;margin-left:-10px;margin-right: -10px;" ng-src="http://s-baet.com/cp/upload/{{products.photo}}"
    />
    <div class="spacer" style="height:15px"></div>
    <p style="color:black;margin-bottom:10px;font-size: large;border-bottom: 1px solid #f7abd8;">وصف المنتج</p>
    <p style="color:black">{{products.content}}</p>
    <div class="row">
      <div class="col" ng-repeat="pic in pics">
        <img ng-src="http://s-baet.com/cp/upload/{{pic.path}}{{pic.file}}" ng-click="showImage(pic.path+pic.file)" style="height:99px"
        />
      </div>
    </div>
    <button style="background: #e08dbe;color:white;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="button   button-block"
      ng-click="sendmessage()" ng-if="!notuser">
      ارسال رسالة الي المتجر 
      </button>
    <label class="item item-input  " id="item" ng-if="user">
          <span class="input-label">ملاحظات عند الأستلام : </span>
          <input class="item item-text-wrap " style="font-size: 20px" type="text"  ng-model="invoice.comment" >
        </label>
    <div class="row" style="margin-bottom: 25px">
      <div class="col" style="width:100px">
        <button style="background: #e08dbe;color:white;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="button  button-block">
        السعر : {{products.price}} ريال
      </button>
      </div>
      <div class="col" style="width:100px">
        <button style="background-color: #00c853;color:white;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" ng-click="navigate()"
          ng-if="user" class="button   button-block">
       <img style="height:20px;width:20px;" src="img/78.png"/>
        شراء المنتج 
      </button>
      </div>
    </div>
    <div class="spacer" style="height: 40px"></div>
    <script id="image-modal.html" type="text/ng-template">
      <div class="modal image-modal transparent" ng-click="closeModal()">
        <ion-pane class="transparent">
          <img ng-src="{{imageSrc}}" class="fullscreen-image" />
        </ion-pane>
      </div>
    </script>
  </ion-content>
</ion-view>