<ion-view title="{{products.title}}" padding="true" style="font-family: 'El Messiri', sans-serif;">
  <ion-content padding="true" class="has-header" dir="auto" style="background-color: #eee7ee" >
<div class="bar bar-header " style="background-color: #efd7e7;" >
  <h1 class="title" style="text-align: left;color:#da6bad">قسم : {{products.department_id.title}}</h1>
</div>
<div class="spacer" style="height:35px"></div>
<img style="width:calc(100% + 20px);height:100%;margin-left:-10px;margin-right: -10px;" ng-src="http://217.182.113.163/~setalbeet/upload/{{products.photo}}"/>
<p5 style="color:black;margin:10px;font-size: large;border-bottom: 2px solid #f7abd8;">وصف المنتج</p5>
<p5 style="color:black;background-color: rgba(255, 0, 102, 0.1)">{{products.content}}</p5>
<div class="row">
  <div class="col" style="margin-left:20px;border-bottom: 3px solid #f7abd8;">
    <img ng-src="http://217.182.113.163/~setalbeet/upload/{{products.photo}}" style="width:99px;height:99px"/>
  </div>
   <div class="col" style="margin-left:20px;border-bottom: 3px solid #f7abd8;">
    <img ng-src="http://217.182.113.163/~setalbeet/upload/{{products.photo}}" style="width:99px;height:99px"/>
  </div>
   <div class="col" style="border-bottom: 3px solid #f7abd8;">
    <img ng-src="http://217.182.113.163/~setalbeet/upload/{{products.photo}}" style="width:95px;height:99px"/>
  </div>
</div>
<div class="row" style="margin-top: 15px;">
  <div class="col" style="width:100px" >
    <button style="color:white;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="button button-stable  button-block"  >
        السعر : {{products.price}} ريال
      </button>
  </div>
  <div class="col" style="width:100px">
    <button  style="background-color: rgba(26, 255, 102,0.8);color:white;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" ng-click="navigate()" class="button   button-block" >
       <img style="height:20px;width:20px;" src="img/78.png"/>
        شراء المنتج 
      </button>
  </div>
</div>
  </ion-content>
</ion-view>