<ion-view title=" المتاجر المشترك فيها" style="font-family: 'El Messiri', sans-serif;">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="myGoBack()">
    <img src="img/bk.png" style="height:30px" >
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header" style="background-color: #eee7ee" dir="rtl">
    <div class="spacer" style="height:10px">
      <ion-refresher on-refresh="doRefresh()">
      </ion-refresher>
      <form>
        <input type="text" name="search" ng-model="search.text" placeholder="بحث...">
      </form>
      <div class="spacer" style="height: 10px"></div>
      <ion-list id="page17-list12">
        <ion-item class="item-thumbnail-right" id="page15-list-item" ng-click="navigate(store.to_store)" ng-repeat="store in stores|filter:search.text"
          style="background: white">
          <img ng-repeat="sto in store.store_id" ng-src="http://s-baet.com/cp/upload/{{sto.logo}}">
          <p ng-repeat="sto in store.store_id">{{sto.name}}</p>
          <p ng-repeat="sto in store.store_id">{{sto.mobile}}</p>
          <p ng-repeat="sto in store.store_id">{{sto.address}}</p>
          <ion-option-button class="button-assertive" ng-click="deletesubscribe(store.to_store)">حذف المتابعه</ion-option-button>
      </ion-list>
      <h1 ng-show="leng()" style="margin-top: 100px;margin-right:20px;">لا يوجد متاجر مشترك فيها</h1>
      <div class="spacer" style="height: 40px"></div>
  </ion-content>
</ion-view>