<ion-view title="صفحة الأشتراك" id="page9" style="font-family: 'El Messiri', sans-serif;">
  <ion-content padding="true" class="has-header" style="background-color: #eee7ee;font-weight: bold" >
    <h1 style="text-align: right;font-family: 'El Messiri', sans-serif;">نوع الأشتراك</h1>
    <p5>
      الحمد لله الحمد لله الحمد لله الحمد لله الحمد لله الحمد لله الحمد لله الحمد لله الحمد لله الحمد لله الحمد لله الحمد لله الحمد لله الحمد لله الحمد لله الحمد لله الحمد لله
    </p5>
      <button id="login0-button5" class="button button-primary  button-block">999 ريال</button>
  </ion-content>
</ion-view>