<ion-view title="اضافة منتج"  style="font-family: 'El Messiri', sans-serif;">
  <ion-content padding="true" class="has-header" style="background-color: #eee7ee" >

<form name="addproduct">

  <label class="item item-input" ng-model="product.title" style="margin:10px;" >
        <span class="input-label"> عنوان المنتج:
        </span>
        <input type="text" ng-model="product.title" placeholder="" ng-model="product.title" >
      </label>

      <label class="item item-input"  style="margin:10px;" >
        <span class="input-label"> سعر المنتج:
        </span>
        <input type="number" placeholder="" ng-model="product.price" >
      </label>

      <label class="item item-input item-select"  style="height:50px;margin:10px;" >
    <select ng-model="product.state" >
      <option value="" selected> اختر البلد </option>
      <option ng-repeat="state in states" value="{{state.id}}" >{{state.name}}</option>
    </select>
    </label>

  <label class="item item-input item-select"  style="height:50px;margin:10px;"  >
    <select ng-model="product.areaid" >
      <option  value=""  selected >اختر المنطقة  </option>
      <option ng-repeat="area in areas" value="{{area.id}}" >{{area.name}}</option>
    </select>
  </label>

<label class="item item-input item-select" style="height:50px;margin:10px;">
      <select  ng-model="product.cityid" >
      <option value="" selected>اختر المدينه </option>
      <option ng-repeat="area in areas" value="{{area.city[0].id}}" >{{area.city[0].name}}</option>
    </select>
  </label>

  <label class="item item-input item-select" style="height:50px;margin:10px;" >
    <select    ng-model="product.posttype" >
      <option value="" selected>اختر نوع المنتج </option>
      <option  value="offer" >عرض</option>
      <option value="order" >طلب</option>
    </select>
  </label>

  <label class="item item-input item-select" style="height:50px;margin:10px;">
    <select ng-model="product.departmentid" ng-change="selectsubdepartment()" >
      <option value="" selected>القسم الرئيسي</option>
      <option  ng-repeat="department in departments" value="{{department.id}}" >{{department.title}}</option>
    </select>
  </label>

  <label class="item item-input item-select" style="height:50px;margin:10px;" >
      <select ng-model="product.subdepartment"  >
      <option value="" selected>القسم الفرعي:</option>
      <option  ng-repeat="subdepartment in subdepartments" value="{{subdepartment.id}}" >{{subdepartment.title}}</option>
    </select>
  </label>
<div class="row">
  <div class="col"style="color:black;margin-right:20px;">
     <a class="btn1" ng-click="addlogo()"><i><img src="img/shape126.png" style="height:25px;margin-top:18px;margin-right:11px;"></i>
     </a>
      <p style="margin-right:10px;" > اضافة صورة رئيسيه </p>         
  </div>
  <div class="col" style="color:black">
     <a class="btn2" ng-click="addpic()"><i><img src="img/shape126.png" style="height:25px;margin-top:18px;margin-right:11px;"></i>
     </a>
  اضافه صور اخري للمنتج     
  </div>
</div>


     <label class="item item-input"style="margin:10px;background-color:#f6f2f6"  >
        <span class="input-label"> وصف المنتج : <input type="text" placeholder="" ng-model="product.content" >
        </span>
      </label>
      

     <a class="btn" ng-click="save()" ><i style="margin-right:15px;"><img src="img/sub.png" style="height:25px;margin-top:10px;"></i>
 <p style="margin-right:12px;"> تنفيذ </p>
     </a>

</form>
  </ion-content>
</ion-view>