<ion-view title="تعديل بيناتي" id="page19"  style="font-family: 'El Messiri', sans-serif;">
  <ion-content  padding="true" style="background: url(img/485.png) no-repeat center;background-size:cover;background-position: center" class="has-header">
  <img src="img/LOOOGO.png" style="margin-top:50px;width:70%;margin-right: 50px;">
   <img src="img/eclip.png" style="margin-top:10px;width:50%;margin-right: 70px;">
    <form id="page19-form11" class="list" ng-model="ahmed">
      <label class="item item-input" id="page20-input">
        <span class="input-label">
          الأسم:
          </span>
        <input type="text" placeholder=""  ng-disabled="ahmed">
      </label>
      <label class="item item-input" id="page20-input">
        <span class="input-label"> رقم الجوال :
          <input type="number" placeholder="" ng-disabled="ahmed">
        </span>
      </label>
      <label class="item item-input" id="page20-input" >
        <span class="input-label"> موقعي:
        </span>
        <input type="text" placeholder=""  ng-disabled="ahmed">
      </label>
      <label class="item item-input" id="page20-input">
        <span class="input-label">  اسم المتجر:
        </span>
        <input type="text" placeholder=""  ng-disabled="ahmed">
      </label>
      <label class="item item-input" id="page20-input">
        <span class="input-label"> البريد الأليكتروني :
        </span>
        <input type="email" placeholder=""  ng-disabled="ahmed">
      </label>
      <label class="item item-input" id="page20-input">
        <span class="input-label"> كلمه المرور :
        </span>
        <input type="password" placeholder=""  ng-disabled="ahmed">
      </label>
     <button id="page10-button9" class="button button-stable  button-block" type="submit">
        تعديل

        <img style="height:20px;width:20px;" src="img/18.png"/>
      </button>
    </form>
  </ion-content>
</ion-view>