<ion-view title="عرض المنتجات" id="page21" style="font-family: 'El Messiri', sans-serif;">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="myGoBack()" >
    <img src="img/bk.png" style="height:30px" >
    </button>
    </ion-nav-buttons>
  <ion-content padding="true" class="has-header" style="background-color: #eee7ee"dir="rtl" >
    <ion-refresher on-refresh="doRefresh()">        
      </ion-refresher>
      <form>
  <input type="text" name="search" ng-model="search.text" placeholder="بحث...">
</form>
          <div class="spacer" style="height:10px;" ></div>
    <ion-list id="page17-list12"  >
     <ion-item class="item-thumbnail-right" id="page17-list-item"  style="background-color:#f5f5f5 "  ng-repeat="product in myproducts|filter:search.text">
        <img ng-if="product.photo" ng-src="http://s-baet.com/cp/upload/{{product.photo}}"/>
        <img ng-if="!product.photo" src="img/LOOOGO.png">
        <h2>{{product.title}}</h2>
        <p>{{product.content}}</p>
        <p>{{product.price}}</p>
        <p>{{product.updated_at}}</p>
              <ion-option-button class="button-assertive"  ng-click="deleteproduct(product.id)" >حذف</ion-option-button>
      </ion-item>
    </ion-list>
       <h1 ng-show="leng()" style="margin-top: 100px;margin-right:20px;" >لا يوجد منتجات</h1>
       <div class="spacer" style="height:20px;"></div>
       <a id="login0-button5" class="button button-calm  button-block" ng-click="addproduct()" ng-show="leng()" >
     اضغط هنا لأضافه منتج
      <img style="height:20px;width:20px;" src="img/Forma 3.png"/>
      </a>
          <div class="spacer" style="height:50px;" ></div>
  </ion-content>
</ion-view>