<ion-view hide-nav-bar="true">
  <ion-content dir="rtl" has-header="false">
    <ion-slides options="{autoplay:3000,speed:1000}" slider="" does-continue="true" ng-if="stores.length" style="width:calc(100% );height:200px;">
      <ion-slide-page ng-repeat="store in stores">
        <a ng-click="navigate(store.store_id)"> <img ng-src="http://s-baet.com/cp/upload/{{store.user.logo}}" style="width:calc(100%);height:100%;" > </a>
      </ion-slide-page>
    </ion-slides>

    <div class="spacer" style=" height: 10px;"></div>
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-thumbnail-right" id="page17-list-item" ng-repeat="store in stores" style="background-color:#eee7ee">
        <img ng-click="navigate(store.store_id)" ng-src="http://s-baet.com/cp/upload/{{store.user.logo}}" />
        <p ng-click="navigate(store.store_id)">متجر {{store.user.name}}</p>
        <p ng-click="navigate(store.store_id)">{{store.user.area.name}}</p>
        <p ng-click="navigate(store.store_id)" ng-if="store.user.worktime_from&&store.user.worktime_to"> من : {{store.user.worktime_from}} صباحاً حتي : {{store.user.worktime_to}} مساءً </p>
        <ion-option-button class="button-light" ng-click="gotostoreprofile(store.store_id)"><img src="img/6.png"></ion-option-button>
        <ion-option-button class="button-stabel" ng-click="subscribestore(store.store_id)" ng-if="user"><img src="img/13.png"></ion-option-button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 40px"></div>
  </ion-content>
</ion-view>