<ion-view title="المتاجر" id="page15" style="font-family: 'El Messiri', sans-serif;">
  <ion-content padding="true" class="has-header" style="background-color: #eee7ee" >
     <ion-list id="page17-list12" dir="auto" >
      <ion-item class="item-thumbnail-right" id="page15-list-item"   ng-click="navigate()" ng-repeat="store in stores">
        <img ng-src="{{store.thumbnail}}"/>
        <h2>{{store.title}}</h2>
        <p>{{store.description}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>